## heading

In [233]:
import pandas as pd

In [234]:
class1={'cls5':['shinas','ishq','rinshad'],'class2':['badhusha','aysha','shaan'],'class3':['asif','manu','basil']}
class1

{'cls5': ['shinas', 'ishq', 'rinshad'],
 'class2': ['badhusha', 'aysha', 'shaan'],
 'class3': ['asif', 'manu', 'basil']}

In [235]:
df= pd.DataFrame(class1),
df

(      cls5    class2 class3
 0   shinas  badhusha   asif
 1     ishq     aysha   manu
 2  rinshad     shaan  basil,)

In [236]:
my_dict3={'currency':['usd','euro','rial','dirham','dinar','pound','swiss frank','nzd','CAD','AUD'],'value':['83.87','92.91','22.35','22.83','274.35','108.87','97.33','51.27','61.50','56.36']}
my_dict3

{'currency': ['usd',
  'euro',
  'rial',
  'dirham',
  'dinar',
  'pound',
  'swiss frank',
  'nzd',
  'CAD',
  'AUD'],
 'value': ['83.87',
  '92.91',
  '22.35',
  '22.83',
  '274.35',
  '108.87',
  '97.33',
  '51.27',
  '61.50',
  '56.36']}

In [237]:
df=pd.DataFrame(my_dict3)
df

      currency   value
0          usd   83.87
1         euro   92.91
2         rial   22.35
3       dirham   22.83
4        dinar  274.35
5        pound  108.87
6  swiss frank   97.33
7          nzd   51.27
8          CAD   61.50
9          AUD   56.36

In [238]:
my_dict2={'players':['vanbesten','forlan','gerrard','giggs'],'club':['ac milan','atletico madrid','liverpool','m.united'],'jersey':['12','7','8','11']}
my_dict2

{'players': ['vanbesten', 'forlan', 'gerrard', 'giggs'],
 'club': ['ac milan', 'atletico madrid', 'liverpool', 'm.united'],
 'jersey': ['12', '7', '8', '11']}

In [239]:
df=pd.DataFrame(my_dict2)
df

     players             club jersey
0  vanbesten         ac milan     12
1     forlan  atletico madrid      7
2    gerrard        liverpool      8
3      giggs         m.united     11

In [240]:
my_dict5={'countries':['INDIA','USA','FRANCE','SPAIN','GERMANY','ITALY','JAPAN','CHINA','RUSSIA','CANADA'],'GDP':['3.38 TRILLION','25.46 TRILLION','2.78 TRILLOIN','1.39 TRILLION','4.07 TRILLION','2.01 TRILLION','4.23 TRILLION','17.96 TRILLION','2.24 TRILLION','2.14 TRILLION']}
my_dict5

{'countries': ['INDIA',
  'USA',
  'FRANCE',
  'SPAIN',
  'GERMANY',
  'ITALY',
  'JAPAN',
  'CHINA',
  'RUSSIA',
  'CANADA'],
 'GDP': ['3.38 TRILLION',
  '25.46 TRILLION',
  '2.78 TRILLOIN',
  '1.39 TRILLION',
  '4.07 TRILLION',
  '2.01 TRILLION',
  '4.23 TRILLION',
  '17.96 TRILLION',
  '2.24 TRILLION',
  '2.14 TRILLION']}

In [241]:
df=pd.DataFrame(my_dict5)
df

  countries             GDP
0     INDIA   3.38 TRILLION
1       USA  25.46 TRILLION
2    FRANCE   2.78 TRILLOIN
3     SPAIN   1.39 TRILLION
4   GERMANY   4.07 TRILLION
5     ITALY   2.01 TRILLION
6     JAPAN   4.23 TRILLION
7     CHINA  17.96 TRILLION
8    RUSSIA   2.24 TRILLION
9    CANADA   2.14 TRILLION

In [242]:
df.tail()

  countries             GDP
5     ITALY   2.01 TRILLION
6     JAPAN   4.23 TRILLION
7     CHINA  17.96 TRILLION
8    RUSSIA   2.24 TRILLION
9    CANADA   2.14 TRILLION

In [7]:
#20-8
import pandas as pd

In [30]:
pd.read_csv(r"C:\Users\diluz\Downloads\stack-overflow-developer-survey-2019 (2)\survey_results_schema.csv")

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]